<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/themes/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/themes/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/themes/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
    <link href="~/Content/themes/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
    <link href="~/Content/themes/plugins/slick-1.8.0/slick.css" rel="stylesheet" />
    <link href="~/Content/themes/styles/main_styles.css" rel="stylesheet" />
    <link href="~/Content/themes/styles/responsive.css" rel="stylesheet" />
</head>
<body>
    <div class="super_container">
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    <script src="~/Content/themes/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/themes/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/themes/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/themes/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/themes/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/themes/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/themes/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/themes/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/themes/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/themes/plugins/slick-1.8.0/slick.js"></script>
    <script src="~/Content/themes/plugins/easing/easing.js"></script>
    <script src="~/Content/themes/js/custom.js"></script>
</body>
</html>
